vg-scrub-bar-current-time .background {
    background-color: #0421ef !important;
}

.sepration-time {
    color: white;
    position: relative;
    top: 22%;
    font-size: 1.3em;
    // margin: 0 5px 0 5px;
}